<template name="buttons_decision">
	<button id="btn_throw_dice" type="button" class="btn btn-block btn-success">
		Trust and throw the dices!
	</button> 
	<button type="button" class="btn btn-block btn-danger">
		This is a lie!
	</button>
</template>

<template name="buttons_send_ann">
   <div class="announcement">
      Number: <input id="input_send_ann" type="text" name="fname"><br>
   </div>
   <button id="btn_send_ann" type="button" class="btn btn-block btn-danger">
      Send this dice announcement!
   </button>
</template>