<template name="game">
	{{> userinput}}
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				{{> messages}}
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="row">
                  <div class="col-md-12">
						{{> dices_ann}}                  </div>
                  <div class="col-md-12">
						{{> dices_throw}}
                  </div>
					</div>
					<div class="row">
					<h3>Make your move!</h3>
						<div class="col-md-12">
							{{> buttons_decision}}
							{{> buttons_send_ann}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{> chat}}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					{{> player_list}}
				</div>
			</div>
		</div>
   </div>
</template>