<template name="userinput">
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="userinput" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      	<input class="form-control" id="userinput-field" placeholder="Enter your user name">
  	</div>
  	<div class="modal-footer">
  		<button type="button" class="btn btn-primary" id="userinput-ok">Ok</button>
      </div>
      </div>
    </div>
  </div>
</template>