h3 {
   font-size: 1.4em;
   margin-top: 2em;
   margin-bottom: 1em;
}

.dices {
   margin-bottom: 1em;
}

.dices  img {
   width: 20%;
   height: 20%;
   margin-right: 0.5em;
}

.dices  img:last-child {
   margin-right: 0;
}

.announcement {
   margin-top: 5px;
   margin-bottom: 5px;
}

.throw  {
   display: none;
}

.center {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.col-btn-plus {
   padding-right: 2px;
}

.col-btn-minus {
   padding-left: 2px;
}

.bottom {
   margin-bottom: 6em
}